.gw2map{
	width: 800px;
	height: 450px;
}

.sector_text{
	color: #fff;
	font-family: Menomonia,sans-serif;
	font-style: italic;
	font-size: 20px;
	white-space: nowrap;
}

.leaflet-popup-content-wrapper{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px;
}