#################
## PHPStorm
#################

.idea/

#################
## Eclipse
#################

.settings/
.buildpath
.project

#################
## Misc
#################

img/background/*.png
img/cache/*.png
img/foreground/*.png
img/wvw/*
locator/
inc/mysqli.inc.php
.htaccess
.gitignore